@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

/*------------웹폰트 -------*/

*:focus
{
    border: none;
}



#main_box
{
    font-family: 'Noto Sans KR';
    text-align: center;
}

#logo
{
    margin: 200px 0 50px 0;
}

.search_box
{
    border: 1px solid lightgray;
    border-radius: 50px;
    width: 590px;
    height: 45px;
    margin: 0 auto;
}


.container
{
    align-items: center;
    border-radius: 8px;
    margin-left: 20px;
    height: 45px;
    overflow: hidden;
    width: 550px;
    display: flex;
    align-items: center;
}

#input
{
    border: none;
    font-family: 'Noto Sans KR';
    font-size: 0.9em;
    width: 490px;
    height: 40px;
    margin: 3px 10px;
    
    
}

input:focus {outline: none;}
input::-ms-clear,

input::-ms-reveal {display: none; width : 0; height: 0;}

input::-webkit-search-decoration,

input::-webkit-search-cancel-button,

input::-webkit-search-results-button,

input::-webkit-search-results-decoration { display: none; }

#category
{
    margin-left: 5px;
    width: 100px;
    border-radius: 50px;
    border: 1px;
    padding: 5px;
}

#search
{
    margin-left: 10px;
    width: 350px;
    padding: 5px;
    border: none;
}

button
{
    margin-left: 5px;
    background: white;
    border: 1px;
}

#result
{
    width: 980px;
    margin: 30px auto;
}

hr
{
    margin: 20px auto;
    width: 980px;
    border: 1px solid black;

}

table
{
    width: 980px;
    margin: 0 auto;
    font-size: 0.8em;
    font-family: 'Noto Sans KR'
}

td
{
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.tCategory
{width: 50px;}

a
{
    color: black;
    background-color: rgba(0,73,140,0.2);
    text-decoration: none;
}